# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/
*.egg

# Env
.env
.env.local
.env.*.local

# Node / Frontend
node_modules/
dist/
.parcel-cache/
frontend/dist/

# IDE
.vscode/settings.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# GCP / Auth
application_default_credentials.json
gcloud/

# Logs
*.log
